#profile
  %h1{class: ("admin" if @user.admin?)}
    #{@user.username}'s profile

  %dl
    %dt Username:
    %dd= @user.username
    %dt Email:
    %dd= @user.email

  #nav
    = link_to 'Logout', destroy_session_path, :method => :delete
